{
  "passPerPreset": true,
  "presets": ["stage-0", "react",
    ["env", {
      "modules": false
    }]
    // SEE: https://webpack.js.org/guides/tree-shaking/
    // Webpack understands the native import syntax, and uses it for tree shaking.
    // Set 'modules' to false is to tell babel not transform ES6 import to one of ["amd", "umd", "systemjs", "commonjs"]
  ],
  "env": {
    "local": {
      "plugins": [
        "react-hot-loader/babel",
        // Enables React code to work with HMR.
        "transform-class-properties",
        // transforms es2015 static class properties as well as properties declared with the es2016 property initializer syntax
        "syntax-dynamic-import"
        // support the dynamic "import" syntax
      ]
    },
    "development": {
      "plugins": [
        "transform-class-properties",
        "syntax-dynamic-import"
      ]
    },
    "staging": {
      "plugins": [
        "transform-class-properties",
        "transform-react-remove-prop-types",
        // Remove React propTypes from the production build, as they are only used in development. You can save bandwidth by removing them.
        "syntax-dynamic-import"
      ]
    },
    "production": {
      "plugins": [
        "transform-class-properties",
        "transform-react-remove-prop-types",
        "syntax-dynamic-import"
      ]
    }
  }
}
